#website-title {
  font-size: 40pt;
}

#intro-text {
  text-align: center;
  height: 309px;
  margin: 0;
  padding: 0;
  background-color: #d7dade;
}

#toggle-painters {
  display: flex;
  padding: 15px;
}

#toggle-2-btns {
  margin-top: 0;
  display: flex;
}

button {
  border-radius: 5px;
  border-style: solid;
  margin: 2px;
}

@media (max-width: 650px) {
  #toggle-painters {
    text-align: center;
    display: block;
  }

  #toggle-2-btns {
    margin-top: 5px;
    text-align: center;
    display: block;
  }

  button {
    padding: 2px;
    margin: 1px;
  }
}
#fact-Mondriaan {
  display: none;
}

#fact-Rembrandt {
  display: none;
}

#fact-Gogh {
  display: none;
}

#intro-text.light-mode {
  color: #111;
  border-bottom: 5px solid #d7dade;
  height: 309px;
  margin: 0;
  padding: 0;
  background-color: #d7dade;
}
#intro-text.light-mode a {
  color: #111;
}
#intro-text.light-mode button {
  background-color: #F7F7F7;
  border: 2px solid #111;
  color: #111;
}
#intro-text.light-mode button:hover {
  background-color: #111;
  border: 2px solid #111;
  color: #F7F7F7;
}
#intro-text.light-mode #fact-painter-box {
  padding: 10px;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 160px;
  width: 600px;
  background-image: url(https://static1.squarespace.com/static/579a733c6b8f5b8f49589edc/t/57b60e27c534a57897b4a854/1471549005008/paint-brushes.jpg?format=1000w);
}

#intro-text.mondriaan-mode {
  background-color: #DDC52B;
  color: #D1372D;
}
#intro-text.mondriaan-mode h1 {
  color: #091A6B;
}
#intro-text.mondriaan-mode button {
  background-color: #091A6B;
  border: 2px solid #091A6B;
  color: #DDC52B;
}
#intro-text.mondriaan-mode button:hover {
  background-color: #D1372D;
  border: 2px solid #D1372D;
  color: #050505;
}
#intro-text.mondriaan-mode #fact-painter-box {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  background-image: none;
  background-color: #091A6B;
  font-size: 16pt;
  height: 160px;
  color: #DDC52B;
  border-bottom: 5px solid #091A6B;
}

#intro-text.rembrandt-mode {
  background-color: #806039;
  color: #E8BA90;
}
#intro-text.rembrandt-mode h1 {
  color: #140B08;
}
#intro-text.rembrandt-mode button {
  background-color: #522715;
  border: 2px solid #522715;
  color: #E8BA90;
}
#intro-text.rembrandt-mode button:hover {
  background-color: #E8BA90;
  border: 2px solid #E8BA90;
  color: #140B08;
}
#intro-text.rembrandt-mode #fact-painter-box {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  background-image: none;
  font-size: 16pt;
  height: 160px;
  background-color: #413222;
  color: #F0C7A5;
  border-bottom: 5px solid #413222;
}

#intro-text.gogh-mode {
  background-color: #3F60A1;
  color: #0E1F4F;
}
#intro-text.gogh-mode h1 {
  color: #B78428;
}
#intro-text.gogh-mode button {
  background-color: #C0A532;
  color: #060F1C;
  border: 2px solid #C0A532;
}
#intro-text.gogh-mode button:hover {
  background-color: #0E1F4F;
  border: 2px solid #0E1F4F;
  color: #C0A532;
}
#intro-text.gogh-mode #fact-painter-box {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  background-image: none;
  background-color: #0E1F4F;
  height: 160px;
  font-size: 16pt;
  color: #C0A532;
  border-bottom: 5px solid #0E1F4F;
}

#submit, #reset {
  margin-top: 20px;
}

#title-quiz {
  margin: 90px 0 80px 0;
}

#wrapper {
  text-align: center;
}

.option-group {
  width: 90%;
  max-width: 600px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 0.25em;
  font-size: 2.5rem;
  margin: 0.2em auto;
  transform: translateZ(0);
}

.option-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 120%;
  height: 100%;
  margin: 0 -10%;
}

.option {
  overflow: hidden;
  flex: 1;
  display: block;
  padding: 0.5em;
  background: #d7dade;
  position: relative;
  margin: 0em;
  margin-right: 0.2em;
  border-radius: 0.25em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  cursor: pointer;
  opacity: 0.5;
  transition-duration: 0.8s, 0.6s;
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0.98, 0, 0.22, 0.98), linear;
  will-change: transform, opacity;
}
.option:last-child {
  margin-right: 0;
}

.option__indicator {
  display: block;
  transform-origin: left bottom;
  transition: inherit;
  will-change: transform;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  left: 0.5em;
}
.option__indicator:before, .option__indicator:after {
  content: "";
  display: block;
  border: solid 2px #01420c;
  border-radius: 50%;
  width: 0.25em;
  height: 0.25em;
  position: absolute;
  top: 0;
  right: 0;
}
.option__indicator:after {
  background: #01420c;
  transform: scale(0);
  transition: inherit;
  will-change: transform;
}

.option-input {
  position: absolute;
  top: 0;
  z-index: -1;
  visibility: hidden;
}

.option__label {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  transform-origin: left bottom;
  transform: translateX(20%) scale(0.7);
  transition: inherit;
  will-change: transform;
}
.option__label:after {
  content: "";
  display: block;
  border: solid 2px #01420c;
  width: 100%;
  transform-origin: 0 0;
  transform: scaleX(0.2);
  transition: inherit;
  will-change: transform;
}

.option:last-child .option__label {
  transform: translateX(0%) scale(0.7);
}
.option:last-child .option__indicator {
  transform: translateX(-20%);
}

.option-input:checked ~ .option {
  transform: translateX(-20%) translateX(0.2em);
}
.option-input:checked ~ .option .option__indicator {
  transform: translateX(0%);
}
.option-input:checked ~ .option .option__label {
  transform: translateX(40%) scale(0.7);
}

.option-input:first-child:checked ~ .option {
  transform: translateX(20%) translateX(-0.2em);
}
.option-input:first-child:checked ~ .option .option__indicator {
  transform: translateX(-40%);
}
.option-input:first-child:checked ~ .option .option__label {
  transform: translateX(0%) scale(0.7);
}

.option-input:nth-child(1):checked ~ .option:nth-of-type(1),
.option-input:nth-child(2):checked ~ .option:nth-of-type(2) {
  opacity: 1;
}
.option-input:nth-child(1):checked ~ .option:nth-of-type(1) .option__indicator,
.option-input:nth-child(2):checked ~ .option:nth-of-type(2) .option__indicator {
  transform: translateX(0);
}
.option-input:nth-child(1):checked ~ .option:nth-of-type(1) .option__indicator::after,
.option-input:nth-child(2):checked ~ .option:nth-of-type(2) .option__indicator::after {
  transform: scale(1);
}
.option-input:nth-child(1):checked ~ .option:nth-of-type(1) .option__label,
.option-input:nth-child(1):checked ~ .option:nth-of-type(1) .option__label::after,
.option-input:nth-child(2):checked ~ .option:nth-of-type(2) .option__label,
.option-input:nth-child(2):checked ~ .option:nth-of-type(2) .option__label::after {
  transform: scale(1);
}

#answers {
  margin-top: 75px;
  font-size: 14pt;
}

.painter-answer {
  display: none;
}

#painting_img_API {
  height: 500px;
}

#footer {
  margin-bottom: 0;
  margin-top: 100px;
  background-color: #d7dade;
  height: 50px;
}

#rijks-API {
  text-decoration: none;
  margin-top: 100px;
}
#rijks-API:hover {
  border-bottom: 2px solid #01420c;
  color: black;
}

#footer-API {
  text-align: left;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #F7F7F7;
  color: #111;
}
body a {
  color: #111;
}
body button {
  background-color: #F7F7F7;
  border: 2px solid #111;
  color: #111;
}
body button:hover {
  background-color: #111;
  border: 2px solid #111;
  color: #F7F7F7;
}
body #fact-painter-box {
  border-bottom: none;
  padding: 10px;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 160px;
  width: 600px;
  background-image: url(https://static1.squarespace.com/static/579a733c6b8f5b8f49589edc/t/57b60e27c534a57897b4a854/1471549005008/paint-brushes.jpg?format=1000w);
  z-index: -1;
}

/*# sourceMappingURL=base.css.map */
