{% extends "base.html" %}

{% block body %}

<body id="body">
  <div id="intro-text" class="dark-mode">
    <div id="toggle-painters">
      <button type="button" name="mondriaan_light" onclick="toggleMondriaanLight(); HideBtn()">
        Piet Mondriaan</button>
      <button type="button" name="rembrandt_light" onclick="toggleRembrandtLight(); HideBtn()">
        Rembrandt van Rijn</button>
      <div id="toggle-2-btns">
        <button type="button" name="gogh_light" onclick="toggleGoghLight(); HideBtn()">
          Vincent van Gogh</button>
        <button id="close-btn" type="button" name="lightmode"
          onclick="LightMode(); HideBtn()">X</button>
      </div>
    </div>

    <h1 id="website-title">Paint your Mood</h1>
    <h4>Want some inspiration? Just want to look at some paintings?
    You're on the right website!</h4>


    <div id="fact-painter-box">
      <p id="fact-Mondriaan" class="facts-painter"><br>Did you know that Piet Mondriaan
      painted detailed landscapes before he developed his abstract style?</p>
      <p id="fact-Rembrandt" class="facts-painter"><br>Did you know that Rembrandt van Rijn lost most of his fortune and died in poverty?</p>
      <p id="fact-Gogh" class="facts-painter"><br>Did you know that Vincent van Gogh only sold one
      painting while he was alive? </p>
    </div>
  </div>

  <div id="wrapper">
    <h3 id="title-quiz">Find the perfect painting by answering these questions</h3>

  <form id="quiz">
    <!-- Question 1 -->
    <h2>Old or New?</h2>
    <!-- Here are the choices for the first question.-->
    <label><input type="radio" name="q1" value="c1">
      Old
    </label>
    <label><input type="radio" name="q1" value="c2">
      New
    </label>

    <!-- Question 2 -->
    <h2>Abstract or Realistic?</h2>
    <!-- Here are the choices for the second question.-->
    <label><input type="radio" name="q2" value="c2">
      Abstract
    </label>
    <label><input type="radio" name="q2" value="c1">
      Realistic
    </label>

    <!-- Question 3 -->
    <h2>Man or Woman?</h2>
    <!-- Choices for the third question -->
    <label><input type="radio" name="q3" value="c1">
      Man
    </label>
    <label><input type="radio" name="q3" value="c2">
      Woman
    </label>

    <!-- Question 4 -->
    <h2>Light or Dark?</h2>
    <!-- Choices for the fourth question -->
    <label><input type="radio" name="q4" value="c2">
      Light
    </label>
    <label><input type="radio" name="q4" value="c1">
      Dark
    </label><br>

  <button type="submit" id="submit" onclick="tabulateAnswers(event)">Submit Your Answers</button>
  <button type="reset" id="reset" onclick="resetAnswer()">Reset</button>
  </form>


  <div id="answer">Your result will show up here!</div>
</div>

<script src="static/js/toggle.js"></script>
<script src="static/js/quiz.js"></script>
{% endblock body %}
