{% extends "base.html" %}

{% block body %}

<body id="body">
  <div id="intro-text" class="dark-mode">
    <div id="toggle-painters">
      <button type="button" name="mondriaan_light" onclick="toggleMondriaanLight(); HideBtn()">
        Piet Mondriaan</button>
      <button type="button" name="rembrandt_light" onclick="toggleRembrandtLight(); HideBtn()">
        Rembrandt van Rijn</button>
      <div id="toggle-2-btns">
        <button type="button" name="gogh_light" onclick="toggleGoghLight(); HideBtn()">
          Vincent van Gogh</button>
        <button id="close-btn" type="button" name="lightmode"
          onclick="LightMode(); HideBtn()">X</button>
      </div>
    </div>

    <h1 id="website-title">Paint your Mood</h1>
    <h4>Want some inspiration? Just want to look at some paintings?
    You're on the right website!</h4>


    <div id="fact-painter-box">
      <p id="fact-Mondriaan" class="facts-painter"><br>Did you know that Piet Mondriaan
      painted detailed landscapes before he developed his abstract style?</p>
      <p id="fact-Rembrandt" class="facts-painter"><br>Did you know that Rembrandt van Rijn lost most of his fortune and died in poverty?</p>
      <p id="fact-Gogh" class="facts-painter"><br>Did you know that Vincent van Gogh only sold one
      painting while he was alive? </p>
    </div>
  </div>

  <div id="wrapper">
    <h3 id="title-quiz">Find the perfect painting by answering this question!</h3>

  <form id="quiz">
    <h2>What do you want to do right now?</h2>

<div class="option-group">
  <div class="option-container">

    <input class="option-input" checked id="option-1" type="radio" name="options" name="q1" value="c1" />
    <input class="option-input" id="option-2" type="radio" name="options" name="q2" value="c2" />

    <label class="option" for="option-1">
      <span class="option__indicator"></span>
      <span class="option__label">
        Eat
      </span>
    </label>

    <label class="option" for="option-2">
      <span class="option__indicator"></span>
      <span class="option__label">
        Skate
      </span>
    </label>

  </div>
</div>
<div class="option-group">
  <div class="option-container">

    <input class="option-input" id="option-3" type="radio" name="options" name="q3" value="c3"/>
    <input class="option-input" id="option-4" type="radio" name="options" name="q4" value="c4" />

    <label class="option" for="option-3">
      <span class="option__indicator"></span>
      <span class="option__label">
        Sleep
      </span>
    </label>

    <label class="option" for="option-4">
      <span class="option__indicator"></span>
      <span class="option__label">
        Tan
      </span>
    </label>

  </div>
</div>

  <button type="submit" id="submit" onclick="tabulateAnswers(event); jump('answers');">Submit</button>

  </form>


<div id="answers">
  {% for artist in artists %}
    <div class="painter-answer" id="painter-answer-{{ forloop.counter }}">
      <p>{{ artist.painter }}, "{{ artist.painting_title }}"</p>
      <br>
      <img id= "painting_img_API" src="{{ artist.painting_img }}">
      <br>
      <button type="reset" id="reset" onclick="resetAnswer()">Again!</button>
    </div>
  {% endfor %}
</div>

<div id="footer">
  <p id="footer-API">Made with the <a target="_blank" id="rijks-API" href="https://www.rijksmuseum.nl/en/api">Rijksmuseum API</a></p>
</div>

<script src="static/js/toggle.js"></script>
<script src="static/js/quiz.js"></script>
<script src="static/js/jump.js"></script>
{% endblock body %}
