{% extends "base.html" %}

{% block body %}

<body id="body">
  <div id="intro-text" class="dark-mode">
    <div id="toggle-painters">
      <button type="button" name="mondriaan_light" onclick="toggleMondriaanLight(); HideBtn()">
        Piet Mondriaan</button>
      <button type="button" name="rembrandt_light" onclick="toggleRembrandtLight(); HideBtn()">
        Rembrandt van Rijn</button>
      <div id="toggle-2-btns">
        <button type="button" name="gogh_light" onclick="toggleGoghLight(); HideBtn()">
          Vincent van Gogh</button>
        <button id="close-btn" type="button" name="lightmode"
          onclick="LightMode(); HideBtn()">X</button>
      </div>
    </div>

    <h1 id="website-title">Paint your Mood</h1>
    <h4>Want some inspiration? Just want to look at some paintings?
    You're on the right website!</h4>


    <div id="fact-painter-box">
      <p id="fact-Mondriaan" class="facts-painter"><br>Did you know that Piet Mondriaan
      painted detailed landscapes before he developed his abstract style?</p>
      <p id="fact-Rembrandt" class="facts-painter"><br>Did you know that Rembrandt van Rijn lost most of his fortune and died in poverty?</p>
      <p id="fact-Gogh" class="facts-painter"><br>Did you know that Vincent van Gogh only sold one
      painting while he was alive? </p>
    </div>
  </div>

  <div id="wrapper">
    <h3 id="title-quiz">Find the perfect painting by answering this question!</h3>

  <form id="quiz">
    <!-- Question 1 -->
    <h2>Pick a style</h2>
    <!-- Here are the choices for the first question.-->
    <label><input type="radio" name="q1" value="c1">
      Realism
    </label>
    <label><input type="radio" name="q1" value="c2">
      Art Deco
    </label><br>
    <label><input type="radio" name="q1" value="c3">
      Cubism
    </label>
    <label><input type="radio" name="q1" value="c4">
      Impressionism
    </label><br>

  <button type="submit" id="submit" onclick="tabulateAnswers(event)">Submit</button>
  <button type="reset" id="reset" onclick="resetAnswer()">Again!</button>
  </form>


  <div id="answer"></div>
</div>

<script src="static/js/toggle.js"></script>
<script src="static/js/quiz.js"></script>
{% endblock body %}
