@import "intro-page.scss";
@import "toggler.scss";

body {
  background-color: $light-color;
  color: $dark-color;
  a {
    color: $dark-color;
  }
  button {
    background-color: $light-color;
    border: 2px solid $dark-color;
    color: $dark-color;
    &:hover{
      background-color: $dark-color;
      border: 2px solid $dark-color;
      color: $light-color;
    }
  }
  #fact-painter-box{
    border-bottom: 5px solid $dark-color;
    height: 145px;
    background-image: url(https://static1.squarespace.com/static/579a733c6b8f5b8f49589edc/t/57b60e27c534a57897b4a854/1471549005008/paint-brushes.jpg?format=1000w);
    z-index: -1;
  }
}
