@import "intro-page.scss";
@import "toggler.scss";
@import "quiz.scss";
@import "paintings.scss";
@import "footer.scss";

html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: $light-color;
  color: $dark-color;
  a {
    color: $dark-color;
  }
  button {
    background-color: $light-color;
    border: 2px solid $dark-color;
    color: $dark-color;
    &:hover{
      background-color: $dark-color;
      border: 2px solid $dark-color;
      color: $light-color;
    }
  }
  #fact-painter-box{
    border-bottom: none;
    padding: 10px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 170px;
    width: 600px;
    background-image: url(https://img-aws.ehowcdn.com/877x500p/s3-us-west-1.amazonaws.com/contentlab.studiod/getty/cache.gettyimages.com/24d0ef7cb8ec4ecb940de0e1ff4dfcb4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    z-index: -1;
  }
}

h1, h2{
  font-family: 'Montserrat', sans-serif;
}

.buttons{
  font-size: 13pt;
  text-align: center;
}

#reset{
  text-align: center;
}
