// basic style
$dark-color: #111;
$light-color: #F7F7F7;

// Mondriaan style
$yellow-mondriaan: #DDC52B;
$red-mondriaan: #D1372D;
$blue-mondriaan: #091A6B;
$black-mondriaan: #050505;

// rembrandt style
$brown-rembrandt: #806039;
$pink-rembrandt: #E8BA90;
$brownred-rembrandt: #522715;
$black-rembrandt: #140B08;
$bright-pink-rembrandt: #F0C7A5;
$darkbrown-rembrandt: #413222;

// van gogh style
$dark-gogh: #0E1F4F;
// $darkblue-gogh: #152C74;
$background-blue-gogh: #3F60A1;
$lightblue-gogh: #4E69A3;
$yellow-gogh: #C0A532;
$yellow-title-gogh: #B78428;
$white-gogh: #D3E5EE;
$blackblue-gogh: #060F1C;

// light-mode (normal)

#intro-text.light-mode {
  background-color: $light-color;
  color: $dark-color;
  a {
    color: $dark-color;
  }
  button {
    background-color: $light-color;
    border: 2px solid $dark-color;
    color: $dark-color;
    &:hover{
      background-color: $dark-color;
      border: 2px solid $dark-color;
      color: $light-color;
    }
  }
  #fact-painter-box{
    border-bottom: 5px solid $dark-color;
    height: 145px;
  }
}

// Piet Mondriaan mode

#intro-text.mondriaan-mode {
  background-color: $yellow-mondriaan;
  color: $red-mondriaan;
  h1 {
    color: $blue-mondriaan;
  }
  button {
    background-color: $blue-mondriaan;
    border: 2px solid $blue-mondriaan;
    color: $yellow-mondriaan;
    &:hover{
      background-color: $red-mondriaan;
      border: 2px solid $red-mondriaan;
      color: $black-mondriaan;
    }
  }
  #fact-painter-box{
    background-color: $blue-mondriaan;
    font-size: 16pt;
    height: 145px;
    color: $yellow-mondriaan;
    border-bottom: 5px solid $blue-mondriaan;
  }
}

// Rembrandt van Rijn mode

#intro-text.rembrandt-mode {
  background-color: $brown-rembrandt;
  color: $pink-rembrandt;
  h1 {
    color: $black-rembrandt;
  }
  button {
    background-color: $brownred-rembrandt;
    border: 2px solid $brownred-rembrandt;
    color: $pink-rembrandt;
    &:hover{
      background-color: $pink-rembrandt;
      border: 2px solid $pink-rembrandt;
      color: $black-rembrandt;
    }
  }
  #fact-painter-box{
    font-size: 16pt;
    height: 145px;
    background-color: $darkbrown-rembrandt;
    color: $bright-pink-rembrandt;
    border-bottom: 5px solid $darkbrown-rembrandt;
  }
}

// Vincent van Gogh mode

#intro-text.gogh-mode {
  background-color: $background-blue-gogh;
  color: $dark-gogh;
  h1 {
    color: $yellow-title-gogh;
  }
  button {
    background-color: $yellow-gogh;
    color: $blackblue-gogh;
    border: 2px solid $yellow-gogh;
    &:hover{
      background-color: $dark-gogh;
      border: 2px solid $dark-gogh;
      color: $yellow-gogh;
    }
  }
  #fact-painter-box{
    background-color: $dark-gogh;
    height: 145px;
    font-size: 16pt;
    color: $yellow-gogh;
    border-bottom: 5px solid $dark-gogh;
  }
}
